* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.nav-container {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.nav-container .icono {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.nav-container .nav-div {
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container .nav-div .nav-logo a {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  padding-left: 20px;
}
.nav-container .nav-div .nav-logo a:hover {
  color: cyan;
}
.nav-container .nav-div .nav-list {
  display: inline-flex;
  margin: 0;
}
.nav-container .nav-div .nav-list .cerrar-boton {
  position: absolute;
  right: 30px;
  top: 20px;
}
.nav-container .nav-div .nav-list .nav-item {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-left: 25px;
  transition: all 0.3s ease;
}
.nav-container .nav-div .nav-list .nav-item:hover {
  color: cyan;
}
.nav-container.sticky {
  padding: 10px 0;
  background-color: #264679;
}
@media (max-width: 864px) {
  .nav-container .nav-div .icono {
    display: block;
  }
  .nav-container .nav-div .icono.hide {
    display: none;
  }
  .nav-container .nav-div .nav-list {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    background: rgb(21, 39, 68);
    display: block;
    padding: 40px 0;
    text-align: center;
    transition: all 0.3s ease;
  }
  .nav-container .nav-div .nav-list li {
    margin-top: 45px;
  }
  .nav-container .nav-div .nav-list li .nav-item {
    font-size: 23px;
  }
  .nav-container .nav-div .nav-list.active {
    left: 0;
  }
}

body.disabledScroll {
  overflow: hidden;
}

.banner {
  position: relative;
  height: 100vh;
  background: url(../multimedia/hero.jpg) no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .content {
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.banner-nuevo {
  height: 100vh;
  background: url(../multimedia/instnuevo.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.banner-comercio {
  height: 100vh;
  background: url(../multimedia/comercio.jpeg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.banner-mantenimiento {
  height: 100vh;
  background: url(../multimedia/mantenimiento.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.banner-galeria {
  height: 100vh;
  background: url(../multimedia/controles.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.banner-calor {
  height: 100vh;
  background: url(../multimedia/caloventor.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.footer-index {
  width: 100%;
  height: auto;
  background-color: #264679;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-index .redes {
  display: inline;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.footer-index .redes .contenedor-contacto a {
  font-size: 25px;
  color: #fff;
  padding: 30px;
}
.footer-index .redes .contenedor-contacto a:hover {
  color: #025;
}
.footer-index .redes .contenedor-contacto .texto-footer {
  display: none;
}
.footer-index .redes .contenedor-sociales {
  display: none;
  justify-content: space-evenly;
  width: 100%;
}
.footer-index .redes .contenedor-sociales a {
  color: #fff;
  padding: 40px;
  font-size: 25px;
}
.footer-index .parrafo-footer {
  margin: 0;
  color: #fff;
  text-align: center;
  padding: 6px;
  font-size: 18px;
  font-weight: bold;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .content {
  text-align: center;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3882352941), rgba(0, 0, 0, 0.6784313725));
  width: 80%;
  max-width: 600px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  gap: 20px;
}
.banner .content .texto_index .h2_index {
  padding: 20px;
  color: #fff;
}
.banner .content .texto_index .parrafo_index {
  font-size: 18px;
  padding: 20px;
  color: #fff;
}
.banner .content .button_index button {
  padding: 10px 20px;
  background-color: #fff;
  color: #025;
  border-radius: 20px;
  border: 2px solid #fff;
  font-size: large;
  transition: 0.3s;
}
.banner .content .button_index button:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

main {
  background-color: #f5f7fc;
}

.sobre_nosotros {
  width: 100%;
  max-width: 768px;
  margin: auto;
  height: auto;
  background-color: #f5f7fc;
}
.sobre_nosotros .sobre_nosotros-container {
  padding: 3em;
  text-align: center;
}
.sobre_nosotros .sobre_nosotros-container .sobre_nosotros-h1 {
  padding: 0.6em 0;
  font-weight: bold;
  font-size: 60px;
  color: #264679;
  margin: 0;
}
.sobre_nosotros .sobre_nosotros-container .sobre_nosotros-h2 {
  padding: 0.5em;
  color: #061A3E;
}
.sobre_nosotros .sobre_nosotros-container .sobre_nosotros-parrafo {
  padding: 0.6em;
  font-size: 18px;
}

.banner-calor .h2_calor {
  padding: 20px;
  color: #fff;
}
.banner-calor .parrafo_calor {
  font-size: 18px;
  padding: 20px;
  color: #fff;
}

#sobre_calor {
  padding: 3em;
  text-align: center;
}
#sobre_calor h2 {
  padding: 0.5em;
  color: #061A3E;
}
#sobre_calor p {
  padding: 0.6em;
  font-size: 18px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.banner .content {
  margin-top: 120px;
  margin-bottom: 50px;
  text-align: center;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3882352941), rgba(0, 0, 0, 0.6784313725));
  width: 80%;
  max-width: 600px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  gap: 20px;
}
.banner .content .texto_galeria {
  color: #fff;
}
.banner .content .texto_galeria .h2_galeria {
  padding: 20px;
  color: #fff;
  margin: 0;
}
.banner .content .texto_galeria .parrafo_galeria {
  font-size: 18px;
  padding: 20px;
  color: #fff;
}
.banner .content a {
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  background-color: #fff;
  color: #025;
  border-radius: 20px;
  border: 2px solid #fff;
  font-size: large;
  transition: 0.3s;
}
.banner .content a:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.info {
  width: 100%;
  margin: auto;
  height: auto;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  background-color: #f5f7fc;
}
.info .container_info {
  width: 100%;
  padding: 50px;
  height: auto;
}
.info .container_info ul {
  padding: 0;
}

#videos {
  height: auto;
  width: 100%;
  padding: 60px 0;
  text-align: center;
  background-color: #264679;
  color: #fff;
}
#videos h2 {
  padding: 20px;
}
#videos .container-galeria {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #025;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px 12px;
}
#videos .container-galeria .container-video {
  display: flex;
  min-width: 300px;
  max-width: 1024px;
  overflow: hidden;
}

body {
  background-color: #f5f7fc;
}

.banner-nuevo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-nuevo .content {
  text-align: center;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3882352941), rgba(0, 0, 0, 0.6784313725));
  width: 80%;
  max-width: 600px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  gap: 20px;
}
.banner-nuevo .content .texto_nuevo h1 {
  padding: 20px;
  color: #fff;
}
.banner-nuevo .content .texto_nuevo .parrafo_nuevo {
  font-size: 18px;
  padding: 20px;
  color: #fff;
}
.banner-nuevo .content a {
  padding: 10px 20px;
  background-color: #fff;
  color: #025;
  border-radius: 20px;
  border: 2px solid #fff;
  font-size: large;
  transition: 0.3s;
}
.banner-nuevo .content a:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

#nuevo-parrafo {
  padding: 3em;
  text-align: center;
}
#nuevo-parrafo h2 {
  padding: 0.5em;
  color: #061A3E;
}
#nuevo-parrafo p {
  padding: 0.6em;
  font-size: 18px;
}

.banner-comercio {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-comercio .content {
  text-align: center;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3882352941), rgba(0, 0, 0, 0.6784313725));
  width: 80%;
  max-width: 600px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  gap: 20px;
}
.banner-comercio .content .texto_comercio h1 {
  padding: 20px;
  color: #fff;
}
.banner-comercio .content .texto_comercio .parrafo_comercio {
  font-size: 18px;
  padding: 20px;
  color: #fff;
}
.banner-comercio .content a {
  padding: 10px 20px;
  background-color: #fff;
  color: #025;
  border-radius: 20px;
  border: 2px solid #fff;
  font-size: large;
  transition: 0.3s;
}
.banner-comercio .content a:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

#parrafo-comercial {
  padding: 3em;
  text-align: center;
}
#parrafo-comercial h2 {
  padding: 0.5em;
  color: #061A3E;
}
#parrafo-comercial p {
  padding: 0.6em;
  font-size: 18px;
}

.banner-mantenimiento {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-mantenimiento .content {
  text-align: center;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3882352941), rgba(0, 0, 0, 0.6784313725));
  width: 80%;
  max-width: 600px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  gap: 20px;
}
.banner-mantenimiento .content .texto_mantenimiento h1 {
  padding: 20px;
  color: #fff;
}
.banner-mantenimiento .content .texto_mantenimiento .parrafo_mantenimiento {
  font-size: 18px;
  padding: 20px;
  color: #fff;
}
.banner-mantenimiento .content a {
  padding: 10px 20px;
  background-color: #fff;
  color: #025;
  border-radius: 20px;
  border: 2px solid #fff;
  font-size: large;
  transition: 0.3s;
}
.banner-mantenimiento .content a:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

#parrafo-mantenimiento {
  padding: 3em;
  text-align: center;
}
#parrafo-mantenimiento h2 {
  padding: 0.5em;
  color: #061A3E;
}
#parrafo-mantenimiento p {
  padding: 0.6em;
  font-size: 18px;
}

.contacto {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../multimedia/banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contacto .container-contacto {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  width: 95%;
  padding-bottom: 60px;
}
.contacto .container-contacto .box-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.contacto .container-contacto .box-info h1 {
  text-align: left;
  letter-spacing: 5px;
  font-size: 2rem;
}
.contacto .container-contacto .box-info .datos {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contacto .container-contacto .box-info .datos p {
  font-size: 1.1rem;
}
.contacto .container-contacto .box-info .datos p i {
  color: #264679;
  margin-right: 10px;
  font-size: 25px;
}
.contacto .container-formulario {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}
.contacto .container-formulario .formulario-input {
  position: relative;
}
.contacto .container-formulario .formulario-input input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: 0.3s;
  color: #fff;
}
.contacto .container-formulario .formulario-input input:focus {
  border-bottom: 3px solid #025;
  animation: shake 0.2s;
}
.contacto .container-formulario .formulario-input input::placeholder {
  color: #a3a3a3;
}
.contacto .container-formulario .formulario-input input:focus::placeholder {
  color: transparent;
}
.contacto .container-formulario .formulario-input textarea {
  width: 100%;
  height: 130px;
  background: rgba(0, 0, 0, 0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: 0.3s;
  color: #fff;
  padding: 10px;
  outline: none;
  resize: none;
}
.contacto .container-formulario .formulario-input textarea:focus {
  border-bottom: 3px solid #025;
  animation: shake 0.2s;
}
.contacto .container-formulario .formulario-input textarea::placeholder {
  color: #a3a3a3;
}
.contacto .container-formulario .formulario-input textarea:focus::placeholder {
  color: transparent;
}
.contacto .container-formulario .formulario-input i {
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
.contacto .container-formulario .formulario-input i:hover {
  color: #025;
}
.contacto .container-formulario .formulario-input input:focus ~ i {
  color: #025;
}
.contacto .container-formulario button {
  background-color: #fff;
  color: #025;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 8px;
  padding: 10px;
  transition: 0.2s;
}
.contacto .container-formulario button:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
@media screen and (min-width: 680px) {
  .contacto {
    height: 100vh;
  }
  .contacto .container-contacto {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 20px;
    gap: 10px;
    max-width: 1000px;
  }
  .contacto .container-contacto .box-info {
    gap: 15px;
  }
  .contacto .container-contacto .box-info h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .contacto .container-contacto {
    width: 1000px;
  }
}

/*# sourceMappingURL=style.css.map */
